body {
    margin-top: 0px;
    margin:auto;
    background-color: white;
    padding: 30px
    
}

#card-listings{
    background-color: white;
    margin-left: 1%;
    margin-top:4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    max-width: 50%;
    height: auto;
}

.card-img {
    max-width: 100%;
    height: auto;
}
code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a2a9b1;
}

.no-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-group{
    width: 300px;
}

textarea {
    display: block;
    height: 50%;
    width: 100%;
}

#title {
    margin-bottom: 5px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}