{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

</div>
<div class="container" id="listings">
    {% for i in items %}
      <div class="card mb-3" style="max-width: 540px;" id="card-listings">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{i.listing.link}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{i.listing.title}}</h5>
              <p class="card-text">{{i.listing.description}}</p>
              <p class="card-text">{{i.listing.price}}</p>
              <a class="btn btn-outline-dark listing-button" href="{% url 'listingpage' i.listing.id %}">Details</a>
              <p class="card-text"><small class="text-muted">{{i.time}}</small></p>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <h3> No listings found in your Watchlist</h3>
    {% endfor %}
</div>
{% endblock %}